@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@import "tailwindcss";

/* @theme {
  @keyframes spin-slow {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .animate-spin-slow {
    animation: spin-slow 10s linear infinite;
  }
} */

body {
  overflow-x: hidden;
}

/* Remove all horizontal scroll issues */
html {
  overflow-x: hidden;
  width: 100%;
}

@media (min-width: 768px) {
  html, body {
    overflow-x: hidden !important;
  }
}
